<!DOCTYPE html>

<html>

<head>
  <title>Edit User</title>
  <link rel="stylesheet" href="edit-user.component.css">
</head>

<body>

<header>
  <p id="logo" (click)="goToPage('options')">RechargR</p>
  <button mat-raised-button id="logout" (click)="logout()">Log out</button>
</header>


<section class="content">

  <div id="edit">

    <div id="back">
      <a matTooltip="Back" matTooltipPosition="after" matTooltipShowDelay="500" matTooltipHideDelay="500" (click)="goToPage('users')"><img src="../../assets/back-w.png" height="50" width="50"/> </a>
    </div>

    <img src="../../assets/edit-g.png" height="180" width="180"/>
    <br><br>
    <form>
      <label for="name">Name: </label><br>
      <input type="text" #name id="name" name="name" value="{{user.name}}" placeholder="Mr. Example"><br><br>

      <label for="email">Email: </label><br>
      <input type="email" #email id="email" name="email" value="{{user.email}}" placeholder="mr.example@example.com"><br><br>

      <label for="email">Password: </label><br>
      <input type="text" #password id="password" name="password" value="{{user.password}}" placeholder="********"><br><br>

      <label for="balance">Balance (HFt): </label><br>
      <input type="number" #balance id="balance" name="balance" value="{{user.balance}}" [defaultValue]=0 placeholder="0"><br><br>

      <label for="admin">Admin authorization: </label>
      <input type="checkbox"  #admin id="admin" name="admin" [defaultChecked]="false" [checked]=user.admin><br><br>

      <input class="button button-g" type="button" value="Save changes" (click)="EditUser(name.value, email.value, password.value, balance.valueAsNumber, admin.checked)">
      <input class="button button-r" type="button" value="Dismiss" (click)="goToPage('users')">
    </form>
  </div>
</section>



</body>

</html>
