
::ng-deep .mat-progress-bar-fill::after {
  background-color: #bc1919;
}

::ng-deep .mat-progress-bar-buffer {
  background: #dce1e5;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
  color: #bc1919;

}


section{
  text-align: center;
  font-family: "Century Gothic";
}
