<!DOCTYPE html>

<html>

<head>
  <title>Stations</title>
  <link rel="stylesheet" href="map.component.css">
</head>

<body>


<header>
  <p id="logo" (click)="goToPage('options')">RechargR</p>
  <h1 id="title">Stations on map</h1>
  <button mat-raised-button id="logout" (click)="logout()">Log out</button>
</header>

<header id="menu">

  <div id="back">
    <a (click)="goToPage('stations')">
      <img matTooltip="Back" matTooltipPosition="after" matTooltipShowDelay="500" matTooltipHideDelay="500" src="../../../assets/back-w.png" height="50" width="50"/>
    </a>
  </div>

  <div id="addnew">
    <a (click)="showAll()" >
      <img matTooltip="Show all stations" matTooltipPosition="before" matTooltipShowDelay="500" matTooltipHideDelay="500" src="../../../assets/all_stations.png" height="65" width="65"/>
    </a>
  </div>
</header>

<section class="content">
  <agm-map [zoom]="zoom" [latitude]="stations[0].coordinateLon" [longitude]="stations[0].coordinateLat">
    <agm-marker *ngFor="let station of stations" [latitude]="station.coordinateLon" [longitude]="station.coordinateLat"
                (markerClick)="clickedMarker(infoWindow)">
      <agm-info-window [disableAutoPan]="false" #infoWindow>
        <div class="marker">
          <h3 id="id" class="markerText">ID: {{station.id}}</h3>
          <h1 id="colored" class="markerText">{{station.address}}</h1>
          <h4 class="markerText">{{station.state}}</h4>
          <button mat-raised-button id="open" (click)="showChargers(station.id)">Open</button>
        </div>

      </agm-info-window>
    </agm-marker>
  </agm-map>
</section>

</body>

</html>
