<!DOCTYPE html>

<html>

<head>
  <title>Add New User</title>
  <link rel="stylesheet" href="add-user.component.css">
</head>

<body>

<header>
  <p id="logo" (click)="goToPage('options')">RechargR</p>
  <button mat-raised-button id="logout" (click)="logout()">Log out</button>
</header>


<section class="content">

  <div id="new">

    <div id="back">
      <a (click)="goToPage('users')" matTooltip="Back" matTooltipPosition="after" matTooltipShowDelay="500" matTooltipHideDelay="500"><img src="../../assets/back-w.png" height="50" width="50"/> </a>
    </div>

    <img src="../../assets/newuser-g.png" height="180" width="180"/>
    <br><br>
    <form [formGroup]="addUser">
    <label for="name">Name: </label><br>
    <input type="text" #name id="name" name="name" [defaultValue]="" placeholder="Mr. Example" autofocus><br><br>

    <label for="email">Email: </label><br>
    <input type="email" #email id="email" name="email" [defaultValue]="" placeholder="mr.example@example.com"><br><br>

    <label for="email">Password: </label><br>
    <input type="password" #password id="password" name="password" [defaultValue]="" placeholder="********"><br><br>

    <label for="balance">Balance (HFt): </label><br>
    <input type="number" #balance id="balance" name="balance" [defaultValue]=0 placeholder="0"><br><br>

    <label for="admin">Admin authorization: </label>
    <input type="checkbox" #admin id="admin" name="admin"><br><br>

    <input class="button button-g" type="button" value="Add new user" (click)="addNewUser(name.value, email.value, password.value, balance.valueAsNumber, admin.checked)">
    <input class="button button-r" type="button" value="Dismiss" (click)="goToPage('users')">
  </form>
  </div>
</section>

</body>

</html>
