<!DOCTYPE html>

<html>

<head>
  <title>Add New Station</title>
  <link rel="stylesheet" href="add-station.component.css">
</head>

<body>

<header>
  <p id="logo" (click)="goToPage('options')">RechargR</p>
  <button mat-raised-button id="logout" (click)="logout()">Log out</button>
</header>


<section class="content">

  <div id="new">

    <div id="back">
      <a (click)="goToPage('stations')" matTooltip="Back" matTooltipPosition="after" matTooltipShowDelay="500" matTooltipHideDelay="500"><img src="../../assets/back-w.png" height="50" width="50"/> </a>
    </div>

    <img src="../../assets/new-location.png" height="180" width="180"/>
    <br><br>
    <form [formGroup]="addUser">
      <label for="address">Address: </label><br>
      <input type="text" #address id="address" name="address" [defaultValue]="" placeholder="Big City" autofocus><br><br>

      <label for="coordinateLon">CoordinateLon: </label><br>
      <input type="number"  #coordinateLon id="coordinateLon" [defaultValue]=0 name="coordinateLon" placeholder="0"><br><br>

      <label for="coordinateLat">CoordinateLat: </label><br>
      <input type="number"  #coordinateLat id="coordinateLat"  [defaultValue]=0 name="coordinateLat" placeholder="0"><br><br>

      <label for="phone">Phone: </label><br>
      <input type="text" #phone id="phone" name="phone" [defaultValue]="" placeholder="+36301234567"><br><br>

      <label for="state">State: </label>
      <select #state name="state" id="state" >
        <option value="Open">Open</option>
        <option value="Closed">Closed</option>
      </select><br><br>

      <input class="button button-g" type="button" value="Add new station" (click)="addNewStation(address.value, coordinateLon.valueAsNumber, coordinateLat.valueAsNumber, phone.value, state.value)">
      <input class="button button-r" type="button" value="Dismiss" (click)="goToPage('users')">
    </form>
  </div>
</section>

</body>

</html>
