body {
  font-family: "Century Gothic", serif;
}

.main-head{
  height: 150px;
  background: #FFF;

}

.sidenav {
  height: 100%;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
    margin-top: 10%;
  }

  .register-form{
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
    margin-left: 40%;
  }

  .sidenav{
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form{
    margin-top: 80%;
  }

}


.login-main-text{
  margin-top: 5%;
  padding: 60px;
  color: #fff;
  background-color: #333;
}

.login-main-text h1{
  font-size: 48px;
}

.login-main-text h2{
  font-weight: 300;
  font-size: 26px;
  color: #4E9F25;
}

.btn-black{
  background-color: #333 !important;
  color: #fff;
}

.padlock{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.padlock img{
  margin-bottom: 0%;
}

.login-button:hover{ background-color: #4E9F25; border: 0px; }
