<!DOCTYPE html>

<html>

<head>
  <title>Login</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="login.component.css">
</head>

<body>

<div class="sidenav">
  <div class="login-main-text">
    <h1>RechargR </h1><h2> Login Page</h2>
    <p>Login from here to access Admin settings.</p>
  </div>
</div>



<div class="main">

  <div class="col-md-6 col-sm-12">

    <div class="card border-dark mb-3">
      <div class="m-4">
      <div class="padlock">
        <img *ngIf="!closed && !open" src="../../assets/padlock-opening.gif" height="120" width="120"/>
        <img *ngIf="open" src="../../assets/padlock-open.gif" height="120" width="120"/>
        <img *ngIf="closed" src="../../assets/padlock-closed.gif" height="120" width="120"/>
      </div>

      <form [formGroup]="loginForm">

        <div class="form-group pb-1">
          <label>Email</label>
          <input [class.is-invalid]="loginForm.get('email').invalid && loginForm.get('email').touched" formControlName="email" type="text" class="form-control" placeholder="Email" autofocus>
          <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
            <small *ngIf="loginForm.get('email').errors?.required" class="text-danger">Email required</small>
            <small *ngIf="loginForm.get('email').errors?.email" class="text-danger">Enter a valid email address</small>
          </div>
        </div>

        <div class="form-group pb-1">
          <label>Password</label>
          <input [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched" formControlName="password" type="password" class="form-control" placeholder="Password">
          <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
            <small *ngIf="loginForm.get('password').errors?.required" class="text-danger">Password required</small>
          </div>
        </div>

        <div class="submit">
          <button [disabled]="!loginForm.valid"  class="btn mr-2 btn-success pl-3 pr-3 p-2" (click)="login()">Login</button>
        </div>

      </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
