<!DOCTYPE html>
<html>
<head>
  <title>Add New Charger</title>
  <link rel="stylesheet" href="dialog-newcharger.component.css">
</head>
<body>
<h1 mat-dialog-title>Add new Charger</h1>
<mat-dialog-content>
  <label for="name">Address: </label><br>
  <input type="text" #name id="name" name="name" [defaultValue]="" placeholder="Name" autofocus><br><br>

  <label for="type">Type: </label><br>
  <input type="text"  #type id="type" [defaultValue]="" name="type" placeholder="basic"><br><br>

  <label for="price">Price: </label><br>
  <input type="number"  #price id="price"  [defaultValue]=0 name="price" placeholder="0"><br><br>

  <button mat-raised-button (click)="Add(name.value, type.value, price.valueAsNumber)">Add new charger</button>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close="{{updated}}">Close</button>
</mat-dialog-actions>
</body>
</html>
