<!DOCTYPE html>

<html>

<head>
  <title>Income</title>
  <link rel="stylesheet" href="statistics-income.component.css">
</head>

<body>


<header>
  <p id="logo" (click)="goToPage('chargings')">RechargR</p>
  <h1 id="title">Income</h1>
  <button mat-raised-button id="logout" (click)="logout()">Log out</button>
</header>

<header id="menu">

  <div id="back">
    <a (click)="goToPage('chargings')">
      <img matTooltip="Back" matTooltipPosition="after" matTooltipShowDelay="500" matTooltipHideDelay="500" src="../../../assets/back-w.png" height="50" width="50"/>
    </a>
  </div>

</header>


<section class="content">

  <ngx-charts-gauge
    [results]="income"
    [legend]="legend"
    [legendPosition]="legendPosition"
    [valueFormatting]="format"
  >
  </ngx-charts-gauge>

</section>

</body>

</html>

