
<!DOCTYPE html>

<html>

<head>
  <title>Snackbar</title>
  <link rel="stylesheet" href="custom-snackbar.component.css">
</head>

<body>
<section>
  <img src="../../../assets/unknown-error.png" height="50" width="50"/>
  <h1>UNKNOWN ERROR THROWN</h1>
  <h2>Status: {{data}}</h2>
  <h3>Try again later or if the problem appears again contact us: <span>admin@rechargr.com</span></h3>
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</section>

</body>

</html>
